// copyright (c) 2010, Roman T. Gritsulyak
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#ifndef IDOK
  #define IDOK 1
#endif
#define IDC_IMG3 124
#define IDS_APP_TITLE 126

#include "resource.h"

LANGUAGE 9,1

IDI_WIN32MINE ICON DISCARDABLE "small.ico"
IDI_SMALL ICON DISCARDABLE "small.ico"
IDB_LEFTRIGHT BITMAP DISCARDABLE "LeftRight.bmp"
IDB_UPDOWN BITMAP DISCARDABLE "UpDown.bmp"
IDB_UPRIGHT BITMAP DISCARDABLE "UpRight.bmp"
IDB_UPLEFT BITMAP DISCARDABLE "UpLeft.bmp"
IDB_LEFTDOWN BITMAP DISCARDABLE "LeftDown.bmp"
IDB_RIGHTDOWN BITMAP DISCARDABLE "RightDown.bmp"
IDB_HEADUP BITMAP DISCARDABLE "HeadUp.bmp"
IDB_HEADDOWN BITMAP DISCARDABLE "HeadDown.bmp"
IDB_HEADLEFT BITMAP DISCARDABLE "HeadLeft.bmp"
IDB_HEADRIGHT BITMAP DISCARDABLE "HeadRight.bmp"
IDB_TOOLBAR1 BITMAP DISCARDABLE "toolbar.bmp"
IDB_FOPEN BITMAP DISCARDABLE "fopen.bmp"
IDB_SAVE BITMAP DISCARDABLE "save.bmp"
IDB_NEW BITMAP DISCARDABLE "new.bmp"
IDB_TOOLBITMAP BITMAP DISCARDABLE "toolbar.bmp"

IDC_WIN32MINE MENU
BEGIN
//  POPUP "&File"
//  BEGIN
//    MENUITEM "E&xit",IDM_EXIT
//  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About ...",IDM_ABOUT
  END
END

IDC_WIN32MINE ACCELERATORS
BEGIN
  63,IDM_ABOUT,ASCII,ALT,NOINVERT
  47,IDM_ABOUT,ASCII,ALT,NOINVERT
END

IDD_ABOUTBOX DIALOGEX 0,0,220,200
CAPTION "About 1-2-3 fill"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU
BEGIN
  CONTROL "",IDR_MAINFRAME,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|0x00000017,0,14,14,21
  CONTROL "1-2-3 fill, Version 1.0 (internal 0.5)",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,42,14,114,8
  CONTROL "Idea and implementation: \n\
(C) 1994-2010 Roman T.Gritsulyak.\n\n \
Goal:\n\
\tfill all field.\n\
Rules: For number <i>\n\
\tyou can move only from <i> to <i+1>\n\
\n\
Toolbar buttons: \n\
New Game, Level From Begining, \n\
About Box, Exit Game.\n\
\n\
Used: C++, STL, MinGW, WinAPI, CodeBlocks.\n\n\
Distributed on http://prevtonextfill.sourceforge.net \n\
under GPL v.3 that means that source is available",
IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,42,26,180,220
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_DEFPUSHBUTTON,140,165,50,20
  CONTROL IDB_HEADRIGHT,IDC_IMG3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_BITMAP,6,9,27,27
END

//
// Dialog resources
//
IDD_DIALOG1 DIALOG 0, 0, 186, 42
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Code For Level:"
{
    EDITTEXT        IDC_EDIT1, 5, 21, 117, 16, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 129, 7, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 129, 24, 50, 14
    LTEXT           "(Cheat) Code here:", IDC_STATIC, 3, 1, 118, 15, SS_LEFT
}

// for new level
IDD_DIALOG2 DIALOG 0, 0, 186, 42
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Size For Level (X*Y):"
{
    EDITTEXT        IDC_EDIT1, 5, 21, 117, 16, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 129, 7, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 129, 24, 50, 14
    LTEXT           "Input size in <X> <Y> format; save with <Level From Beginning> (second from left) toolbar button", IDC_STATIC, 3, 1, 118, 15, SS_LEFT
}

STRINGTABLE DISCARDABLE
BEGIN
  IDC_WIN32MINE "123Fill"
  IDS_APP_TITLE "123Fill"
END

